<!-- views/partials/header.ejs -->
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="dar p-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-group list-group-flush bg-dark">
                <li class="list-group-item bg-dark white text-left ml-4 p-1">Ir a Inicio</li>
                <li class="list-group-item bg-dark white text-left ml-4 p-1">Ayuda</li>
            </ul>
        </div>
    </div>
    <nav style="align-items:center;display:flex;" class="navbar navbar-dark bg-dark text-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand m-auto pr-5 float-left h4" href="#">Ofertas Y Promociones</a>
        <!-- <a class="navbar-brand m-auto" href="#">Abastos Culiacan</a> -->
    </nav>
</div>